@page "/resources"


<h1> Inspirations / Resources </h1>
<hr />
<div class="row pl-3 pt-1 pb-3 fs-5">
    <div class="grid-intro">
		<div class="grid-intro-content"> 
			<p>Everything on a website isn't static. Loading text and html markup from a database or other resources is quite the use case.</p>
			<p>To help in that case, wrap the content with the <code>"ToolTipsMarkupContainer"</code>,which will handle the visibility of the content through javascript.</p>
			<p> The below content was "stored somewhere" and rendered dynamically as Markup string. The stored content contained ToolTips Anchored renders dynamic via javascript.</p>
		</div>
		<div class="grid-callback">
			<a href="resources">
				<div class="callback-icon-container">
					<svg xmlns="http://www.w3.org/2000/svg" class="callback-icon bi bi-journal-code" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"/>
						<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
						<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
					</svg>
				</div>
				<div class="callback-content">
					<div>Check out the sources that helped me learn!</div>
				</div>
			</a>
		</div>
	</div>
    <p><strong> This project is a learning project in order to discover Blazor and C#. This is not at all a finished product, nor a professional offering.</strong></p>
    <p><strong> Any comment, suggestion and help is appreciated. The GitHub repository is here: <a href="https://github.com/LiGass/Blazor.DistributedToolTips" style="color:rgb(154, 10, 233);text-decoration:underline;">Blazor.DistributedToolTips</a></strong> </p>
    <p><strong> This library offers a simple service to provide informations about your content to your users.</strong></p>
    <p><strong> It is composed of three core components</strong></p>
</div>


@code {

}
