@using DistributedToolTips
@using DistributedToolTips.Models
@using Microsoft.JSInterop
@inherits ToolTipElementComponentBase
@inject IJSRuntime js

<div @ref=refThis class="@CssClass">
	@ChildContent
	<div class="@HelperCssClass">
		@if(Helper==default)
		{
			@HelperAsString
		}
		else
		{
			@Helper
		}
	</div>
</div>

@code {
	protected override void OnInitialized()
	{
		thisElement = new ToolTipAnchorModel(StateContainer);
		base.OnInitialized();
	}

}
