
@using Models


@inherits ToolTipElementComponentBase
<div class="@CssClass">
	@ChildContent
	<div class="@HelperCssClass">
		@if(Helper==default)
		{
			@HelperAsString
		}
		else
		{
			@Helper
		}
	</div>
</div>

@code {
    protected override async Task OnParametersSetAsync()
    {

		if(string.IsNullOrEmpty(HtmlId)) { HtmlId = $"Anchor-{StateContainer.IncrementAnchorsCount()}"; }
		thisElement = new ToolTipAnchorModel(StateContainer,HtmlId);
        await base.OnParametersSetAsync();
    }
}
