.ToolTip-Toggler{
	border-radius:0.25em;
	position:relative;
    display: inline-block;
	margin:auto;
    cursor: help;
}
.ToolTip-Toggler span{
	padding:unset;
}

.ToolTip-Toggler.Toggler-Off {
	color: var(--Text-Header);
}
.ToolTip-Toggler.Toggler-Off:hover{
	color:var(--Text-Header-Active);
}
.ToolTip-Toggler.Toggler-On{
	background:var(--Background-Header-Active);
	color:var(--Text-Header);
}
.ToolTip-Toggler.Toggler-On:hover {
	background: var(--BlackLight);
	color: var(--Text-Header-Active);
}
.ToolTip-Helper{
	position:absolute;
	left:50%;
	background:var(--WhiteDark);
	width:160px;
	border-radius:0.25em;
	padding:5px 5px;
	z-index:1;
	transform:translate(-50%,20%);
}

.Toggler-Off .ToolTip-Helper{
	visibility:hidden;
}
.Toggler-On .ToolTip-Helper { 
	visibility:visible;
}