
@inherits ToolTipElementComponentBase

<div id="@HtmlId" class="@CssClass" @onclick="@(()=>Toggle())">
	@if(ChildContent == null)
    {
        <span class="bi-h icon-ToolTip-Toggler" />
    }
    else{
        @ChildContent
    }
    @if (@Helper != null)
    {
        <div class="@HelperCssClass">
            @Helper
        </div>
    }
</div>

@code{
    protected override async Task OnParametersSetAsync()
    {
        thisElement = new ToolTipTogglerModel(StateContainer,HtmlId);
        await base.OnParametersSetAsync();
    }


    protected void Toggle(){
        ((ToolTipTogglerModel)thisElement).ActivateToolTip();
    }
}