@page "/Markup"
@using ToolTips
<h3>MarkupHelpers - Dynamic Content </h3>
<div class="grid-intro">
	<div class="grid-callback"> 
		<p>Everything on a website isn't static. Loading text and html markup from a database or other resources is quite the use case.</p>
		<p>To help in that case, wrap the content with the <code>"ToolTipsMarkupContainer"</code>,which will handle the visibility of the content through javascript.</p>
		<p> The below content was "stored somewhere" and rendered dynamically as Markup string. The stored content contained ToolTips Anchored renders dynamic via javascript.</p>
	</div>
	<div class="grid-callback">

	</div>
</div>
<hr/>
<ToolTipsMarkupContainer>
	<div>
		@contentMarkup
	</div>
</ToolTipsMarkupContainer>

@code {

	private MarkupString contentMarkup;


	protected override void OnInitialized()
	{
		contentMarkup = new MarkupString(content);
	}



		private string content = @"<div><div class='ToolTip-Anchor'>Lorem ipsum dolor sit amet, <div class='ToolTip-Helper'>This content seems like latin, but it's gibberish</div></div>consectetur adipiscing elit. Integer vehicula scelerisque purus a ultricies. Nunc vitae magna in ante rhoncus ultricies. Vivamus venenatis mi felis, ac <div class='ToolTip-Anchor' HelperText='Sic forfetura pacem ad hoc, ad pluribus errare fuit'> sagittis turpis luctus quis. Integer sollicitudin, ligula in venenatis faucibus, turpis</div> leo tincidunt velit, vitae porttitor erat quam nec massa. Cras pellentesque, nunc vel fermentum pretium, nunc nunc efficitur velit, in aliquam dolor augue id purus. Sed in nulla sed lorem varius commodo. Praesent consequat nunc viverra, luctus est vitae, placerat nisi.</div>

	<div>Vivamus non purus vitae eros varius suscipit et vitae ex. <div><div class='ToolTip-Anchor'>Nulla quis eros sit amet turpis  <div class='ToolTip-Helper'>Here's another markup helper, just because</div></div>scelerisque pellentesque. Maecenas quis quam justo. Donec ut elit id ligula mollis rhoncus. Ut a mi a odio vehicula pulvinar. Quisque posuere libero ac justo porta fringilla. Cras rhoncus tellus quis odio luctus, eu ultrices erat pellentesque. Nulla lobortis ex sed odio luctus viverra. Vivamus pellentesque arcu magna, posuere finibus nibh finibus eget. Pellentesque rutrum diam purus, at aliquet massa lobortis eu. Duis consequat, mauris vel molestie consequat, dolor ex faucibus enim, sit amet dapibus purus risus et dui. Ut sit amet dui molestie massa dapibus pharetra quis non libero.</div>";
}
